@model Association

<h1>Viewing Category: @ViewBag.Category.Name</h1>
<div class="row">
    <div class="col">
        <ul>
            @{
                foreach(Association a in ViewBag.Category.Products)
                {
                    <li>@a.Product.Name</li>
                }
            }
        </ul>
    </div>
    <div class="col">
        <h2>Add Products to Category</h2>
        <form action="addCategoryProduct" method="post">
            <div class="form-group">
                <select asp-for="ProductId" class="form-control">
                    @{
                        foreach(Product p in ViewBag.AllProducts)
                        {
                            <option value="@p.ProductId">@p.Name</option>
                        }
                    }
                </select>
            </div>
            <input type="hidden" name="CategoryId" value="@ViewBag.Category.CategoryId">
            <div class="form-group">
                <input type="submit" value="Add Product" class="btn btn-warning">
            </div>
        </form>
    </div>
</div>